.wrapper {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background: yellow;

  display: flex;
  justify-content: space-between;
  padding: 0 3rem;

  background: rgb(255, 255, 255, 0.75);
  backdrop-filter: blur(28px);
  z-index: 100;
}

.left {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.mid {
  width: fit-content;
  display: flex;
  align-items: center;
}
.mid h1 {
  font-family: "DM Sans";
  font-weight: 500;
}

.right {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: larger;
}
